#!/usr/bin/env ruby
# This command will automatically be run when you run "rails" with Rails 3 gems installed from the root of your application.

<% if standalone %>
ENGINE_PATH = File.expand_path('../..',  __FILE__)
load File.expand_path('../../spec/dummy/script/rails',  __FILE__)
<% else %>
ENGINE_PATH = Dir.pwd
load File.expand_path('../../../script/rails',  __FILE__)
<% end %>
