<% if Spree::Config[:allow_openid] %>
  <%= stylesheet_link_tag "open_id.css" %>
  <p><%= t(:or) %></p>
  <p>
    <%= f.label :openid_identifier, t('OpenID', :default => 'OpenID') %><br />
    <%= f.text_field :openid_identifier, :class => 'title openid_url' %>
  </p>
<% end %>
